<footer class="bg-light py-3 text-dark mt-auto fixed-bottom">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-1">Connection Status</p>
          <div class="d-flex align-items-center">
            <p class="me-2">Database: <span class="status-dot {{ isDatabaseConnected ? 'success' : 'danger' }}"></span></p>
            <p>Server: <span class="status-dot {{ isServerConnected ? 'success' : 'danger' }}"></span></p>
          </div>
        </div>
  
        <div class="text-center">
          <p>&copy; 2023 Tourist Talks. All rights reserved.</p>
          <p>Made with &#9829; by Vaibhav.</p>
        </div>
  
        <div class="text-end">
          <p class="d-flex align-items-center justify-content-end">
            <span class="me-2">English (United Kingdom)</span>
            <i class="bi bi-globe2"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>