footer {
  background-color: #ffffff;
  padding: 1.5rem 0; 
  color: black;
  margin-top: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.connection-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-container {
  text-align: center;
}

.language-container {
  text-align: end;
}

.status-dot {
  width: 10px; 
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px; 
}

.success {
  background-color: #28a745; /* Green color for success */
}

.danger {
  background-color: #dc3545; /* Red color for danger */
}

