.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.mat-toolbar button {
  margin-right: 30px;
  
}
.mat-toolbar button:hover {
  color: white;
  border: 2px solid #ff4013;
  border-radius: 10px;
}
.mat-toolbar a {
  color: #333;
  text-decoration: none;
  margin-left: 15px;
  height: 50px;
  width: 60px;
  display: flex;
  flex-direction: column;
}
.mat-toolbar a:hover {
  border: 2px solid #ff4013;
  border-radius: 10px;
}
.mat-toolbar a.active {
  color: white;
  background-color: #ff4013;
  border-radius: 10px;
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.logo {
  width: 170px;
  height: 60px;
  margin-right: 50px;
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}
.username {
  color: black;
  margin-left: 5px;
}