<div class="container mt-5">
    <h2 class="text-center mb-3">Places Directory</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">Address</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let place of places_list">
                    <td>{{place.site_name}}</td>
                    <td>{{place.address.address_1}}, {{place.address.address_2}}, {{place.address.address_3}}, {{place.address.postcode}}</td>
                    <td>{{'N/A'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>