<div class="container">
    <mat-card class="signup-card">
      <div class="logo-container">
        <img class="logo" src="../../assets/logo.png" alt="Logo">
      </div>
      <mat-card-header>
        <mat-card-title>
          <h2>Create an account</h2>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="form-content">
        <p>Already a user? <a href="/login">Login here.</a></p>
        <hr>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" placeholder="Full Name" required>
            </mat-form-field>
          </div>
  
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Email" required>
            </mat-form-field>
          </div>
  
          <div class="form-group">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Password" required>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option *ngFor="let gender of genderEnum | keyvalue" [value]="gender.value">{{gender.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="user">User</mat-option>
                
              </mat-select>
              
            </mat-form-field>
            <p style="color: red;">*Admins have complete control over adding/removing/editing reviews and places for any user.
              Users can only add/remove/edit just reviews for themselves.</p>
          </div>
  
          <div class="form-group">
            <div *ngIf="errorMessage" class="error-message">
              <mat-icon>error</mat-icon>
              {{ errorMessage }}
            </div>
            <button mat-raised-button 
            [style.background-color]="isSubmitting ? 'lightgreen' : '#ff7f50'" 
            color="primary" (click)="onSubmit()" [disabled]="isSubmitting">
              <span *ngIf="!isSubmitting">Signup</span>
              <span *ngIf="isSubmitting">Submitting...</span>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>